<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hallth.mapper.GraduationThemeMapper">
    <resultMap id="BaseResultMap" type="com.hallth.domain.GraduationTheme">
        <id column="theme_seq" property="themeSeq" jdbcType="INTEGER"/>
        <result column="theme_title" property="themeTitle" jdbcType="VARCHAR"/>
        <result column="theme_introduction" property="themeIntroduction" jdbcType="VARCHAR"/>
        <result column="theme_teacher" property="themeTeacher" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        theme_seq, theme_title, theme_introduction, theme_teacher
    </sql>

    <select id="queryByTitle" resultMap="BaseResultMap" parameterType="com.hallth.domain.GraduationTheme">
        select
        <include refid="Base_Column_List"/>
        from graduation_theme
        where theme_title = #{themeTitle, jdbcType=VARCHAR}
    </select>

    <select id="queryBySeq" resultMap="BaseResultMap" parameterType="com.hallth.domain.GraduationTheme">
        select
        <include refid="Base_Column_List"/>
        from graduation_theme
        where theme_seq = #{themeSeq, jdbcType=INTEGER}
    </select>
</mapper>