<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hallth.mapper.HanziMapper" >
  <resultMap id="BaseResultMap" type="com.hallth.domain.Hanzi" >
    <result column="hanzi" property="hanzi" jdbcType="VARCHAR" />
    <result column="shengmu" property="shengmu" jdbcType="VARCHAR" />
    <result column="yunmu" property="yunmu" jdbcType="VARCHAR" />
    <result column="shengdiao" property="shengdiao" jdbcType="INTEGER" />
    <result column="ziyi" property="ziyi" jdbcType="VARCHAR" />
    <result column="bihuashu" property="bihuashu" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.hallth.domain.Hanzi" >
    insert into hanzi (hanzi, shengmu, yunmu, 
      shengdiao, ziyi, bihuashu)
    values (#{hanzi,jdbcType=VARCHAR}, #{shengmu,jdbcType=VARCHAR}, #{yunmu,jdbcType=VARCHAR}, 
      #{shengdiao,jdbcType=INTEGER}, #{ziyi,jdbcType=VARCHAR}, #{bihuashu, jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hallth.domain.Hanzi" >
    insert into hanzi
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hanzi != null" >
        hanzi,
      </if>
      <if test="shengmu != null" >
        shengmu,
      </if>
      <if test="yunmu != null" >
        yunmu,
      </if>
      <if test="shengdiao != null" >
        shengdiao,
      </if>
      <if test="ziyi != null" >
        ziyi,
      </if>
      <if test="bihuashu != null">
        bihuashu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hanzi != null" >
        #{hanzi,jdbcType=VARCHAR},
      </if>
      <if test="shengmu != null" >
        #{shengmu,jdbcType=VARCHAR},
      </if>
      <if test="yunmu != null" >
        #{yunmu,jdbcType=VARCHAR},
      </if>
      <if test="shengdiao != null" >
        #{shengdiao,jdbcType=INTEGER},
      </if>
      <if test="ziyi != null" >
        #{ziyi,jdbcType=VARCHAR},
      </if>
      <if test="bihuashu != null">
        #{bihuashu, jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <select id="selectHanzi" resultMap="BaseResultMap">
    select * from hanzi
    <where>
        1 = 1
      <if test="hanzi != null">
        and hanzi = #{hanzi, jdbcType=VARCHAR}
      </if>
      <if test="shengmu != null">
        and shengmu = #{shengmu, jdbcType=VARCHAR}
      </if>
      <if test="yunmu != null">
        and yunmu = #{yunmu, jdbcType=VARCHAR}
      </if>
      <if test="shengdiao != null">
        and shengdiao = #{shengdiao, jdbcType=INTEGER}
      </if>
      <if test="ziyi != null">
        and ziyi = #{ziyi, jdbcType=VARCHAR}
      </if>
      <if test="bihuashu != null">
        and bihuashu = #{bihuashu, jdbcType=INTEGER}
      </if>
    </where>
      order by shengmu,yunmu,shengdiao
      <if test="startSeq != null">
          limit #{startSeq, jdbcType=INTEGER}, #{pageSize, jdbcType=INTEGER}
      </if>
  </select>

    <select id="countHanzi" resultType="java.lang.Integer">
        select count(*) from hanzi
        <where>
            1 = 1
            <if test="hanzi != null">
                and hanzi = #{hanzi, jdbcType=VARCHAR}
            </if>
            <if test="shengmu != null">
                and shengmu = #{shengmu, jdbcType=VARCHAR}
            </if>
            <if test="yunmu != null">
                and yunmu = #{yunmu, jdbcType=VARCHAR}
            </if>
            <if test="shengdiao != null">
                and shengdiao = #{shengdiao, jdbcType=INTEGER}
            </if>
            <if test="ziyi != null">
                and ziyi = #{ziyi, jdbcType=VARCHAR}
            </if>
            <if test="bihuashu != null">
                and bihuashu = #{bihuashu, jdbcType=INTEGER}
            </if>
        </where>
    </select>

  <insert id="insertList" parameterType="java.util.List">
    insert into hanzi
    (hanzi,
        shengmu,
        yunmu,
        shengdiao,
        ziyi,
        bihuashu)
    values
    <foreach collection="list" index="index" item="item" separator=",">
      (#{hanzi,jdbcType=VARCHAR},
          #{shengmu,jdbcType=VARCHAR},
          #{yunmu,jdbcType=VARCHAR},
          #{shengdiao,jdbcType=INTEGER},
          #{ziyi,jdbcType=VARCHAR},
          #{bihuashu, jdbcType=INTEGER})
    </foreach>
  </insert>
</mapper>