<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hallth.mapper.TeacherMapper">
    <resultMap id="BaseResultMap" type="com.hallth.domain.Teacher">
        <id column="teacher_seq" property="teacherSeq" jdbcType="VARCHAR"/>
        <result column="teacher_name" property="teacherName" jdbcType="VARCHAR"/>
        <result column="teacher_id" property="teacherId" jdbcType="VARCHAR"/>
        <result column="teacher_age" property="teacherAge" jdbcType="INTEGER"/>
        <result column="teacher_gender" property="teacherGender" jdbcType="VARCHAR"/>
        <result column="teacher_phone" property="teacherPhone" jdbcType="VARCHAR"/>
        <result column="teacher_major" property="teacherMajor" jdbcType="VARCHAR"/>
        <result column="teacher_address" property="teacherAddress" jdbcType="VARCHAR"/>
        <result column="teacher_email" property="teacherEmail" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        teacher_seq, teacher_name, teacher_id, teacher_age, teacher_gender, teacher_phone, teacher_major, teacher_address, teacher_email
    </sql>

    <select id="selectBySeq" parameterType="com.hallth.domain.Teacher" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from teacher
        where teacher_seq=#{teacherSeq, jdbcType=INTEGER}
    </select>

    <select id="selectByName" parameterType="com.hallth.domain.Teacher" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from teacher
        where teacher_name=#{teacherName, jdbcType=VARCHAR}
    </select>

    <select id="userCheck" parameterType="com.hallth.domain.Teacher" resultMap="">
        select
        <include refid="Base_Column_List"/>
        from teacher
        where teacher_password=#{teacherPassword, jdbcType=VARCHAR} AND teacher_id=#{teacherId, jdbcType=VARCHAR}
    </select>

    <select id="selectByNameFuzzyQuery" resultMap="java.lang.Integer" parameterType="com.hallth.domain.Teacher">
        select teacher_seq from teacher where teacher_name like '%' || #{teacherName} || '%'
    </select>
</mapper>